[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "caretForecast"]
	path = caretForecast
	url = https://github.com/taf-society/caretforecast
